/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

/* global styles */
body {
  margin: 0;
  min-height: 100vh;
  color: #242424;
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 1.5;
}

section {
  width: 100%;
  padding: 80px 0;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  line-height: 1.25;
}

h2,
h3 {
  color: #3e606b;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

/*layout */
.content-width-container {
  width: 1100px;
  margin: 0 auto;
}

.header-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome-section-content-container {
	display: flex;
	flex-direction: row;
}

/* header */
header {
  padding: 30 0;
}

header img {
  width: 170px;
  display: block;
  text-align: left;
}

header ul {
  display: flex;
  text-align: right;
}

header ul li {
  display: flex;
}

header ul li a {
  text-decoration: none;
  color: #242424;
  padding: 10px 15px;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a:focus {
  background-color: #f195b2;
  color: white;
}

/* footer */
footer {
  padding: 30px 0;
  background-color: #303339;
  color: white;
  text-align: center;
}

/* Hero section */
.hero-section {
  background: no-repeat url("images/cupcake.jpg");
  background-size: cover;
  color: white;
}

.hero-section p {
  font-size: 24px;
  font-style: italic;
}

.hero-text-container {
  width: 60%;
}

/* welcome-section */
.welcome-section-left-column {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.our-products-link {
  text-decoration: none;
  padding: 15px 40px;
  background-color: #f195b2;
  color: white;
  border-radius: 30px;
  width: 50%;
}

.our-products-link:hover,
.our-products-link:focus {
  background-color: #d2567d;
}

.welcome-section-image {
	border-radius: 5px;
	margin: 30px;
}
